@import "../../assets/styles/functions";
@import "../../assets/styles/variables";

.productCollection {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;  
  
  &Wrapper {
    border: 1px solid $grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: units(10px 0);
    width: 100%;
  }

  .totalItemCount {
    margin: 0;
  }

  .selectorWrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}