@import "../../assets/styles/functions";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.productCollection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;  
  
  &Wrapper {
    border: 1px solid $grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: units(10px 0);
    width: 100%;
  }

  .totalItemCount {
    margin: 0;
  }

  .selectorWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include medium {
      justify-content: flex-end;
      width: 80%;
    }

    @include large {
      justify-content: flex-end;
      width: 80%;
    }
  }

  @include medium {
    flex-direction: row-reverse;
  }

  @include large {
    flex-direction: row-reverse;
  }
}