@import "./assets/styles/functions";
@import "./assets/styles/variables";
@import "./assets/styles/mixins";

html {
  background-color: $light-grey;
  font-family: $font-family;
}

body {
  margin: units(0);
}

.homepage {
  padding: units(20px 16px);

  @include medium {
    padding: units(20px 32px);
  }

  @include large {
    padding: units(20px 64px);
  }
}
